node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
bin/
obj/
dist/
build/
out/
target/
Assembling/
scratch/
*.apk
*.aab
*.pfx
*.cer
*.msi
*.zip
*.7z
*.rar
*.tar.gz
.vs/
.vscode/
.idea/
*.suo
*.user
Desktop.ini
*.log
*.tmp
node_modules/
